// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Buttons color
$buttons-color: #FFFFFF;
$button-cancel-color: #343A40;

// Buttons background-color
$button-general-background-color: #0788D9;
$button-edit-background-color: #EFAD4E;
$button-trash-background-color: #D9534F;
$button-infos-background-color: #5BC2D9;
$button-cancel-background-color: #E0E0E0;
$button-save-background-color: #4CA649;

// Tags color
$tag-color: white;

// Tags background-color
$tag-background-color: #0788D9;
$tag-answer-waiting-background-color: #EFAD4E;
$tag-answer-refusal-background-color: #D9534F;
$tag-answer-accepted-background-color: #5BC2D9;
$tag-answer-sign-background-color: #4CA649;
