// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*#region General*/
body {
    background-color: #EFEFEF;
}

.status_animation {
    transition: 1s;
    opacity: 0;
}

.yield_content {
    min-height: 80vh;
    max-width: 99vw !important;
    margin: auto;
}

.title-h1 {
    text-align: left;
    padding: 1%;
    background-color: #FFFFFF;
    margin: auto;
    font-size: 2.2rem;
}

.table {
    max-width: 100% !important;
}

.table-dark,
.table-dark > th {
    background-color: #343A40 !important;
}


/*#endregion General*/

/*#region Buttons*/
.buttons {
    padding: 0.375rem 0.75rem;
    color: $buttons-color;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    border: none;

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.button_edit {
    background-color: $button-edit-background-color;
    &:hover{background-color: darken($button-edit-background-color, 5);}
}

.button_trash {
    background-color: $button-trash-background-color;
    &:hover{background-color: darken($button-trash-background-color, 5);}
}

.button_infos {
    background-color: $button-infos-background-color;
    &:hover{background-color: darken($button-infos-background-color, 5);}
}

.button_cancel {
    background-color: $button-cancel-background-color;
    color: $button-cancel-color !important;
    &:hover{background-color: darken($button-cancel-background-color, 5);}
}

.button_save {
    background-color: $button-save-background-color;
    &:hover{background-color: darken($button-save-background-color, 5);}
}

.button_general {
    background-color: $button-general-background-color;
    &:hover{background-color: darken($button-general-background-color, 5);}
}
/*#endregion Buttons*/

/*#region Tags*/
.tag {
    color: $tag-color;
    display: inline-block;
    border-radius: 50rem;
    line-height: 1;
    padding: .35em .65em;
    text-align: center;
    vertical-align: sub;
    white-space: nowrap;
    background-color: $tag-background-color;

    &-answer {
        &-waiting {background-color: $tag-answer-waiting-background-color;}
        &-refusal {background-color: $tag-answer-refusal-background-color;}
        &-accepted {background-color: $tag-answer-accepted-background-color;}
        &-sign {background-color: $tag-answer-sign-background-color;}
    }
}
/*#endregion Buttons*/

/*#region Profil*/

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}


#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    height: 15rem;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px
}




#msform .action-button {

    width: 100px;
    background:#0788D9;
    font-family: "nunito", sans-serif;
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    border: none;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    color: white;
    padding: 0.375rem 0.75rem;
    font-family: "nunito", sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    border: none;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 16%;
    float: left;
    position: relative
}


#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

.add_padding_left {
    padding-left:8rem;
}

.button_save_profil {
    background-color:  #4CA649 !important;

}

#progressbar #study:before {

    font-weight: 900;
    content: "";
}
#progressbar #experience:before {
    content: "";
}
#progressbar #skills:before {
    content: "";
}
#progressbar #driver:before {
    content: "";
}
#progressbar #interest:before {
    content: "";
}
#progressbar #comment:before {
    content: "";
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}


.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*#endregion Profil*/

/*#region Follow_Ups*/
.table-follow-up {
    text-align: center;

    .comment {max-width: 300px;}
}
/*#endregion Profil*/

/*#region Footer*/

footer {
    width: 100%;
    box-shadow: 0px -5px 5px #9E9E9E;
}

footer >div {
    margin: auto;
    display: flex;
    flex-flow: row;
}

.footer_link {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.footer_link > a {
    color: #000000;
    font-size: 1.1rem;
    text-decoration: none;
}

.footer_link > a:hover {
    color: #D60072;
}

.footer_logo {
    width: 50%;
    padding: 2% 0 2% 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.footer_logo > img {
    width: 25%;
}

/*#endregion Footer*/
